# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
data/raw/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env/
.venv/
venv/
ENV/
